<nav class="navbar fixed-bottom navbar-expand-sm navbar-fibr">
  <div class="nav-bottom container-fluid">
    <%= link_to "#", class: "nav-icon" do %>
      <%= image_tag "cards_stack_40dp_FFFFFF_FILL0_wght200_GRAD0_opsz48.svg", class: "cards_stack", alt: "cards icon" %>

    <% end %>

    <%= button_to analyses_path, method: :post, class: "nav-add" do %>
      <i class="fa-regular fa-plus"></i>
    <% end %>

    <%= link_to "#", class: "nav-icon" do %>
      <%= image_tag "account_circle_40dp_FFFFFF_FILL0_wght200_GRAD0_opsz40", class: "account_circle", alt: "profile icon" %>
    <% end %>
  </div>
</nav>
