<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="m-0 p-0">My previous scans</h3>
    <%= button_to "New analysis", analyses_path, method: :post, class: "btn btn-outline-secondary" %>
  </div>

  <% if @analyses.empty? %>
    <p class="text-muted">You don't have a history yet!</p>
  <% else %>
    <%= form_with url: analyses_path, method: :get, local: true, class: "mb-4" do |f| %>
      <div class="input-group">
        <%= f.text_field :query, value: params[:query], placeholder: "Search History…", class: "form-control" %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

    <ul class="list-unstyled p-0 m-0">
      <% @analyses.each do |analysis| %>
        <% photo = analysis.analysis_chat&.messages&.joins(:photos_attachments)&.second&.photos&.first %>
        <li class="list-group-item d-flex justify-content-between align-items-center border mb-2 shadow-sm rounded">
          <div class="d-flex align-items-center gap-3">
            <% if photo %>
              <%= image_tag photo, class: "chat-thumbnail" %>
            <% else %>
              <div class="chat-thumbnail placeholder-emoji">👖</div>
            <% end %>

            <div>
              <h5 class="mb-1"><%= link_to analysis.garment_type.presence || "Analysis of #{analysis.created_at.strftime('%d/%m/%Y')}", analysis_path(analysis),
              class: "text-decoration-none text-dark fw-bold" %></h5>
              <small class="text-muted"><%= analysis.status %></small>
            </div>
          </div>

          <div class="m-2 text">
            <% if analysis.score %>
              <% if analysis.score < 2.5 %>
                <% couleur = "danger" %>
              <% elsif analysis.score < 7.5 %>
                <% couleur = "warning" %>
              <% else %>
                <% couleur = "success" %>
              <% end %>
              <span class="text-muted">
                <%= analysis.score %>/10 <span class="text-<%= couleur %> ms-1">●</span>
              </span>
            <% else %>
              <span class="text-muted">–</span>
            <% end %>
          </div>

        </li>
      <% end %>
    </ul>
  <% end %>
</div>
