<%# Affichage des messages %>
<% @messages.each do |message| %>
  <div class="message <%= message.role %>">
    <%= message.content %>
  </div>
<% end %>

<%# Formulaire d'envoi %>
<%= form_with model: @message, url: chat_messages_path(@chat) do |f| %>
  <%= f.text_area :content, placeholder: "Your message..." %>
  <%= f.submit "Send" %>
<% end %>


